  <div class="map_container">
      <div id='map'></div>
      <div class="popup_bar">
        <div class="title"></div>
        <div class="photos"></div>
        <div class="description"></div>
        <div class="previous_arrow"><img src="../public/images/previous_arrow.png"></div>
        <div class="next_arrow"><img src="../public/images/next_arrow.png"></div>
        <div class="saveButton">Save</div>
      </div>
  </div>
