  <div class="map_container">
      <div id='map'></div>
      <div class="popup_bar">
        <div class="hiddenInfo"></div>
        <div class="title">
          <span class="clickable_title"></span>
        </div>
        <div class="photos">
          <img id='one_photo' src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Solid_white.svg/2000px-Solid_white.svg.png'>
        </div>
        <div class="previous_arrow">
          <button class="glyphicon glyphicon-chevron-left" aria-hidden="true">
        </div>
        <div class="next_arrow">
          <button class="glyphicon glyphicon-chevron-right" aria-hidden="true">
        </div>
        <div class="deletePhotoButton">Delete Photo</div>
          <input type="text" class="description editbox" value="Add some notes!"></input>
          <div class="saveButton">Save</div>
          <button class="glyphicon glyphicon-trash" aria-hidden="true">
      </div>
  </div>
