  <div class="map_container">
    <!-- <div id='filters' class='ui-select'>
      <div>
        <input type='checkbox' checked=checked class='filter' name='filter' id='green_pins' value='green_pins'/>
        <label for='green_pins'>green pins</label>
      </div>
      <div>
        <input type='checkbox' checked=checked class='filter' name='filter' id='red_pins' value='red_pins'/>
        <label for='red_pins'>red pins</label>
      </div>
    </div> -->
      <div id='map'></div>
      <div class="popup_bar">
        <div class="hiddenInfo"></div>
        <div class="title"></div>
        <div class="photos"></div>
        <div class="previous_arrow">
          <button class="glyphicon glyphicon-chevron-left" aria-hidden="true">
        </div>
        <div class="next_arrow">
          <button class="glyphicon glyphicon-chevron-right" aria-hidden="true">
        </div>
        <div class="deletePhotoButton">Delete Photo</div>
          <input type="text" class="description editbox" value="Add some notes!"></input>
          <div class="saveButton">Save</div>
          <button class="glyphicon glyphicon-trash" aria-hidden="true">
      </div>
  </div>
