  <div class="map_container">
      <div id='map'></div>
      <div class="popup_bar">
        <div class="title"></span></div>
        <div class="photos"></div>
        <div class="previous_arrow">
          <button class="glyphicon glyphicon-chevron-left" aria-hidden="true">
        </div>
<<<<<<< HEAD
        <button type="submit" class="btn btn-default" id="pin-save-button">Save Pin</button>
        <button type="submit" class="btn btn-default" id="pin-edit-button">Edit Pin</button>
        <button type="submit" class="btn btn-default" id="pin-delete-button">Delete Pin</button>

        <!-- <div class="saveButton">Save</div> -->
=======
        <div class="next_arrow">
          <button class="glyphicon glyphicon-chevron-right" aria-hidden="true">
        </div>
          <input type="text" class="description" value="Add some notes!"></input>
          <button class="glyphicon glyphicon-trash" aria-hidden="true">
>>>>>>> 80d7550085c35e1df934260b778ab4cc6c7d7e69
      </div>
  </div>
