  <div class="map_container">
      <div id='map'></div>
      <div class="popup_bar">
        <div class="title"></div>
        <div class="photos"></div>
        <div class="description"></div>
      </div>
  </div>
