  <div class="map_container">
      <div id='map'></div>
      <div class="popup_bar">
        <div class="title"></span></div>
        <div class="photos"></div>
        <div class="previous_arrow"><img src="../public/images/previous_arrow.png"></div>
        <div class="next_arrow"><img src="../public/images/next_arrow.png"></div>
        <div class="description">
          <!-- <textarea class="form-control" rows="14"></textarea> -->
        </div>
        <button type="submit" class="btn btn-default" id="pin-save-button">Save Pin</button>
        <button type="submit" class="btn btn-default" id="pin-edit-button">Edit Pin</button>

        <!-- <div class="saveButton">Save</div> -->
      </div>
  </div>
