  <div class="map_container">
      <div id='map'></div>
      <div class="popup_bar">
        <div class="title"></span></div>
        <div class="photos"></div>
        <div class="previous_arrow">
          <button class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </div>
        <div class="next_arrow">
          <button class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </div>
        <div class="description">
          <!-- <textarea class="form-control" rows="14"></textarea> -->
        </div>

        <!-- <div class="saveButton">Save</div> -->
      </div>
  </div>
