<!DOCTYPE html>
<html>
  <head>
    <title>Express</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link rel="stylesheet" href="/public/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/public/js/models/user.js"></script>
    <script src="/public/js/script.js"></script>
    <script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>

  </head>
  <body>
    <header>
      <div class="bar">
        <div class="logo"><img src="/public/images/wanderlist-logo.png" alt="logo"></div>
        <div class="search">
          <input type="search" placeholder="search destination" />
        </div>
        <div class="green pin"><img src="/public/images/greenpin.png"></div>
        <div class="red pin"><img src="/public/images/redpin.jpg"></div>
        <div class="menu"> Menu</div>
      </div>
    </header>


    {{{ body }}}
  </body>
</html>
