* {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body{
  min-height: 100%;
}

body {
  padding-top: 50px;
  position: relative;
}

#map {
  width: 100%;
  height: 900px;
}

.green{
  color: green;
}

.red{
  color: red;
}

.nav-pic {
  width: 30px;
  height: 30px;
}

img {
  width: 40px;
  height: 40px;
}

.map_container {
  position: relative;
}

.popup_bar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 30em;
  border: .5px solid black;
  opacity: 80%;
  background-color: rgba(255, 255, 255, .8);
  -webkit-box-shadow: 15px 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}

.help_window {
  position: absolute;
  overflow: hidden;
  width: 300px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  z-index: 11;
}

.help_window h2 {
  color: #232323;
  text-transform: uppercase;
  font: 35px/1.5 Helvetica, Verdana, sans-serif;
}

.help_window p {
  color: #444;
  text-align: left;
  font: 13px/1.8 Georgia, Times, sans-serif;
}
.account-information{
  display: none;
  position: absolute;
  overflow: hidden;
  width: 300px;
  height: 300px;
  top: 20%;
  left: 45%;
  margin-top: -100px;
  margin-left: -150px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

.account-information h2 {
  color: #232323;
  font: 25px/1.5 Helvetica, Verdana, sans-serif;
}

.account-information p {
  color: #444;
  font: 13px/1.8 Georgia, Times, sans-serif;
}

input{
  margin: 5pt;
}
input.descrip{
  width: 350px;
  height: 200px;

}
#edit-button {
  margin-top: 25pt;
}

.help-message {
  display:none;
  position: absolute;
  overflow: hidden;
  width: 300px;
  height: 215px;
  margin-top: 100px;
  margin-left: -500px;
  background-color: white;
  border-radius: 5px;
  text-align:justify;
  color: #232323;
  font: 15px/1.5 Helvetica, Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
}


.title {
  text-align: center;
  font-size: 2em;
  padding-top: .5em;
  font: bold "Lucida Grande";
}


.photos > img {
  display: block;
  width: 85%;
  margin: .2em auto 0 auto;
  height: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  z-index: -1;
  /*top: 80%;*/
  box-shadow: 0 15px 10px #777;

}
.description {
  text-align: center;
  font-size: 1.2em;
  margin: 3em .25em 0 .25em;

}
.photos {
  position: relative;

}
.changeUrlBar {
  position: absolute;
  top: 6.5em;
  left: 7.5%;
  width: 100%;
}
.changeUrl {
  width: 85%;
  text-align: center;
}
.changePhotoToOpaque {
  opacity: 0.5;
}
.next_arrow, .previous_arrow {
  display: inline-block;
  position: absolute;
}
.previous_arrow {
  top: 9em;
  left: 0em;
}
.previous_arrow:hover, .next_arrow:hover {
  background-color: rgba(155, 155, 155, .8);
  cursor: pointer;
}
.next_arrow {
  top: 9em;
  right: 0em;
}

.twitSign {
  width: 158px;
  height: 28px;
  /*float: left;*/
}
.saveButton {
  width: 3em;
  border-radius: 20px;
  border: 1px solid green;
  margin: 0 auto;
  text-align: center;
  border-bottom: 2px solid green;
  border-right: 2px solid green;
}

#pin-save-button {
  margin-left: 12em;
  margin-top: 1em;
}
#pin-edit-button{
  margin-top: 1em;
  margin-left: 12.2em;
}
