* {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
  padding-top: 50px;
  position: relative;
}

html, body{
  min-height: 100%;
}

.hiddenInfo {
  display: none;
}

.map_container {
  position: relative;
  height: 100%;
}

#map {
  width: 100%;
  min-height: 600px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}

.help_window {
  position: absolute;
  overflow: hidden;
  width: 300px;
  height: 280px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  z-index: 11;
}

.help_window h4 {
  color: #232323;
  text-transform: uppercase;
  font: 30px/1.5 Helvetica, Verdana, sans-serif;
}

.help_window p {
  color: #444;
  text-align: left;
  font: 13px/1.8 Georgia, Times, sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

.help-message {
  display:none;
  position: absolute;
  overflow: hidden;
  width: 356px;
  height: 215px;
  margin-top: 150px;
  margin-left: -856px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

.help-message h6 {
  color: #232323;
  text-transform: uppercase;
  font: 20px/1.5 Helvetica, Verdana, sans-serif;
}

.help-message p {
  color: #444;
  text-align: left;
  font: 13px/1.8 Georgia, Times, sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  white-space:normal;
}

.account-information{
  display: none;
  position: absolute;
  overflow: hidden;
  width: 300px;
  height: 300px;
  top: 20%;
  left: 45%;
  margin-top: -100px;
  margin-left: -150px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}
.account-information h2 {
  color: #232323;
  font: 25px/1.5 Helvetica, Verdana, sans-serif;
}

.account-information p {
  color: #444;
  font: 13px/1.8 Georgia, Times, sans-serif;
}

.green{
  color: #32a518;
}

.red{
  color: #ea0b0b;
}

.popup_bar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 30em;
  border: .5px solid black;
  opacity: 80%;
  background-color: rgba(255, 255, 255, .8);
  -webkit-box-shadow: 15px 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
}

.title {
  text-align: center;
  font-size: 2em;
  padding-top: .5em;
  font: bold "Lucida Grande";
}

.photos > img {
  display: block;
  max-width: 85%;
  height: 200px;
  margin: .2em auto 0 auto;
  padding-top: 2em;
  padding-bottom: 2em;
  z-index: -1;
  top: 80%;
  box-shadow: 0 15px 10px #777;

}
.description {
  text-align: center;
  font-size: 1.2em;
  margin: 3em .25em 0 2em;
  width: 350px;
  border: 1px solid #999999;
  padding: 5px;
}
.photos {
  position: relative;
  width: 85%;
  height: 200px;
  margin-left: 2.5em;
}
.glyphicon-trash {
  margin-right: 1em;
  display: inline-block;
  position: absolute;
}

/*
input{
  margin: 5pt;
}
input.descrip{
  width: 350px;
  height: 200px;

}*/

/*#edit-button {
  margin-top: 25pt;
}*/



/*Before a new photo is added*/
.changeUrlBar {
  position: absolute;
  top: 6.5em;
  left: 7.5%;
  width: 100%;
}
.changeUrl {
  width: 85%;
  text-align: center;
}
.changePhotoToOpaque {
  opacity: 0.5;
}

/*The Arrows for photos*/
.next_arrow {
  top: 12em;
  right: 1em;
}
.previous_arrow {
  top: 12em;
  left: 1em;
}
.next_arrow, .previous_arrow {
  display: inline-block;
  position: absolute;
}
/*.previous_arrow:hover, .next_arrow:hover {
  background-color: rgba(155, 155, 155, .8);
  cursor: pointer;
}*/


/*twitter sign in*/
.twitSign {
  width: 158px;
  height: 28px;
  /*float: left;*/
}
.saveButton, .deletePhotButton {
  width: 3em;
  border-radius: 20px;
  border: 1px solid green;
  margin: 0 auto;
  text-align: center;
  border-bottom: 2px solid green;
  border-right: 2px solid green;
}
/*#pin-save-button {
  margin-left: 12em;
  margin-top: 1em;
}
#pin-edit-button{
  margin-top: 1em;
  margin-left: 12.2em;
}*/

/*media queries*/
@media (max-width: 830px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.fa-twitter {
  color: #55acee;
}

/*@media (min-width: 768px)
.navbar-fixed-bottom, .navbar-fixed-top {
    border-radius: 25;
}*/

/*@media (min-width: 900px) {*/
 /*.navbar-header {
 float: left;
 }*/
/*}*/
